<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Bilbo-Chan</string>
  <key>CFBundleDisplayName</key>
  <string>Bilbo-Chan</string>
  <key>CFBundleIdentifier</key>
  <string>local.bilbochan.mac</string>
  <key>CFBundleVersion</key>
  <string>1.0.9</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.9</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>bilbo-chan</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.15</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>LSUIElement</key>
  <true/>
</dict>
</plist>
